.label {
    color: black;
    border: 2px solid yellow;
    padding: 5px;
    font-family: 'Comic Sans MS', cursive;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

